@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<ShipperResponseModel>

<h1>Shipper List</h1>
<a href="/shipper/create">Add Shipper</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Contact Person</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.EmailId</td>
                <td>@item.Phone</td>
                <td>@item.Contact_Person</td>
                <td>
                    <a asp-action="Edit" asp-controller="Shipper" asp-route-id="@item.Id">
                        Edit
                    </a> |
                    <a href="/shipper/delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
